<div class="form-container">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <form action="/account/register" method="post">
        <div>
            <label for="firstName" class="required">First name:</label><br>
            <input type="text" id="firstName" name="account_firstname" value="<%= locals.account_firstname %>" placeholder="Create your first name" required>
        </div>

        <div>
            <label for="lastName" class="required">Last name:</label><br>
            <input type="text" id="lastName" name="account_lastname" value="<%= locals.account_lastname %>" placeholder="Create your last name" required>
        </div>

        <div>
            <label for="email" class="required">Email:</label><br>
            <input type="email" id="email" name="account_email" value="<%= locals.account_email %>" placeholder="Create your email" required>
        </div>
        
        <div>
            <label for="password" class="required">Password:</label><br>
            <span class="form-hint">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter , 1 lowercase letter, and 1 special character</span>
            <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" placeholder="Create your password"  required>
            <button type=button id="toggleShowPW">Show Password</button>
        </div>
        
        <div class="submit">
            <input type="submit" value="Register" >
        </div>
    </form>
 </div>

 <script>
    const toggleShowPW = document.getElementById('toggleShowPW')
    toggleShowPW.addEventListener('click', () => {
        const pwInput = document.getElementById('password')
        const type = pwInput.getAttribute('type')

        if (type === "password") {
            pwInput.setAttribute('type', 'text')
            toggleShowPW.innerHTML = "Hide Password"
        } else {
            pwInput.setAttribute('type', 'password')
            toggleShowPW.innerHTML = 'Show Password'
        }
    })
 </script>