<div id="account-management">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } %>

    <h3>Welcome <%= locals.account_firstname %></h3>
    
    <%- messages() %>
    
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <!-- Message Center -->
    <h3>Message Center</h3>
    <ul>
        <!-- Asegúrate de que msgNum tiene un valor -->
        <li class="font-1">You have <%= msgNum %> unread messages</li>
        <li class="font-1">Go to <a href="/message/">Inbox</a></li>
    </ul>

    <!-- Mostrar gestión de inventario solo si es empleado o administrador -->
    <% if (locals.accountData.account_type === "Employee" || locals.accountData.account_type === "Admin") { %>
        <br>
        <div class="inv-management-container">
            <h3>Inventory Management</h3>
            <div><a href="/inv">Manage Inventory</a></div>
        </div>
    <% } %>

    <!-- Enlace para editar la información de la cuenta -->
    <p><a href="/account/edit">Edit Account Information</a></p>
</div>